@tailwind utilities;

/* global */
*, *::after, *::before {
    interpolate-size: allow-keywords;
    scrollbar-width: thin;
}

/* Themes */
:root {
    --color-primary: #ffffff;
    --color-secondary: rgba(21, 21, 21, 0.2);
    --color-text: rgb(21, 21, 21);
    --color-highlight: #cccccccc;
    --color-highlight-text: blue;
}

:root[app-theme='dark'] {
    --color-primary: rgb(21, 21, 21);
    --color-secondary: rgb(39, 39, 39);
    --color-text: #ffffff;
    --color-highlight: #cccccc86;
    --color-highlight-text: blue;
}

/* Landing page colors */
:root {
    --color-brand-primary: #151515;
    --color-brand-secondary: #272727;
    --color-brand-text: #ffffff;
}

