@tailwind utilities;

/* Themes */
:root[data-app-theme='dark'] {
    --color-primary: #2f313f;
    --color-secondary: #737981;
    --color-text: #ffffff;
    --color-highlight: #ccc;
    --color-highlight-text: blue;
}

/* Lanfing page colors */
:root {
--color-brand-primary: #151515;
--color-brand-secondary: #272727;
--color-brand-text: #fff;
}
